In [1]:
t=()
print(type(t))

<class 'tuple'>

In [3]:
t=10,20,30,40
print(t)
print(type(t))

(10, 20, 30, 40)
<class 'tuple'>

In [7]:
t1=(10,)
print(type(t1))

<class 'tuple'>

In [8]:
l=[1,2,3]
t=tuple(l)
print(t)

(1, 2, 3)

In [10]:
t=tuple(range(1,10,2))
print(t)

(1, 3, 5, 7, 9)

In [11]:
t[0]

1

In [14]:
t[1:-1]

(3, 5, 7)

In [17]:
t[0:2]

(1, 3)

In [20]:
t[::2]

(1, 5, 9)

##

In [21]:
t[1]=20

TypeError: 'tuple' object does not support item assignment

In [22]:
t.count(1)

1

In [25]:
t=10,20,10,20,30,40
t.index(50)

ValueError: tuple.index(x): x not in tuple

In [30]:
t1=sorted(t)
print(t1)
t2=sorted(t,reverse=True)
print(t2)

[10, 10, 20, 20, 30, 40]
[40, 30, 20, 20, 10, 10]

In [31]:
min(t1)

10

In [32]:
max(t1)

40

In [35]:
a=10
b=20
c=33
t=a,b,c,d

print(t)
print(type(t))

NameError: name 'd' is not defined

In [38]:
x,y,z=t

In [42]:
l1=(1,2,3)
l2=(1,2,3)
l1==l2

True

In [47]:
t=(x**2 for x in range(1,16))
#print(t)
print(type(t))
for i in t:
    print(i)

<class 'generator'>
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

In [49]:
s={1,2,3}
type(s)

set

In [50]:
l1=[10,20,30]
s=set(l1)
print(s)
print(type(s))

{10, 20, 30}
<class 'set'>

In [51]:
s1=set(range(4))
print(s1)

{0, 1, 2, 3}

In [55]:
s1=set()
print(type(s1))

<class 'set'>

In [65]:
s={1,2,3}
s.add(33)
s.add(2)
s.add(10)
print(s)
a=22
s.update(22)
print(s)

{1, 2, 3, 33, 10}

TypeError: 'int' object is not iterable

In [66]:
s={10,20,30}
l=[40,50,60]
s.update(l)
s.update(range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 50, 20, 60, 30}

In [70]:
s.pop()
print(s)

{4, 40, 10, 50, 20, 60, 30}

In [71]:
s.remove(10)
print(s)

{4, 40, 50, 20, 60, 30}

In [75]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1.difference(s2))
print(s2.difference(s1))
print(s1^s2)

{1, 2}
{5, 6}
{1, 2, 5, 6}

In [80]:
s={"Abhishek","zzx"}
print(s)
#"A" in s

{'zzx', 'Abhishek'}

In [89]:
t={x**2 for x in range(1,16)}
print(t)
print(type(t))

{64, 1, 121, 225, 4, 36, 100, 196, 9, 169, 16, 49, 81, 144, 25}
<class 'set'>

In [84]:
t[2:6]

[]

In [94]:
t=eval(input("Enter the list of values:"))
print(type(t))
t1=set(t)
print(t)
print(t1)

t2=list(t1)

#print(t)
print(t2)
t3=tuple(t1)
print(t3)

Enter the list of values:[1,1,1,2,2,3,3]
<class 'list'>
[1, 1, 1, 2, 2, 3, 3]
{1, 2, 3}
[1, 2, 3]
(1, 2, 3)

In [98]:
t=[1, 1, 1, 2, 2, 3, 3]
t1=[]
for i in t:
    if i not in t1:
        t1.append(i)
print(t1)

[1, 2, 3]

In [100]:
w=input("Enter the word:")
w1=set(w)

v={"a","e","i","o","u"}
d=w1.intersection(v)
print(d)
print(w)
print(w1)

Enter the word:abhishek
{'i', 'e', 'a'}
abhishek
{'h', 'e', 'i', 's', 'b', 'k', 'a'}